
{% block body %}

{# Btn Panier #}

        <div class="position-fixed btnlogin btnshop">
            <button type="button" class="btn btn btn-outline-warning btnicon" id="logincharge" data-bs-toggle="modal" data-bs-target="#basket-shopping">
            <i class="fa-sharp fa-solid fa-basket-shopping"></i>
            <p class="btnlogintext" id="btnlogintext">Panier</p>
            </button>
        </div>


{# Modal Panier #}

<div class="modal fade" id="basket-shopping" tabindex="-1" aria-labelledby="basket-shoppingLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content shopmodal">
      <div class="modal-header mx-auto">
        <h5 class="modal-title" id="basket-shoppingLabel"><i class="fa-sharp fa-solid fa-basket-shopping"></i>Panier</h5>
      </div>
      <div class="modal-body">
        <div class="panierbody">
        </div>
        {% for panier in panier %}
        
                     <script>
                     var id = panier.id;
                     var qtevalue = panier.qte;
                     var prix = panier.prix
                     var image = panier.img;
                     var data = panier;
                     var libelle = panier.libelle
                     console.log(panier);



                            const writepanier = () => {
                            if (document.getElementById(`panierrow${id}`)) {

                                qtevalue = document.getElementById(`qteselect${id}`).value;
                                qtevalue++;

                                const ajaxadd = (qtevalue) => {
                                    $.ajax({
                                        type: "POST",
                                        url: "/panierqte",
                                        data: {qtevalue: qtevalue,idplat:id},
                                        success: function(data){
                                            console.log("qte add"+data);
                                    }})
                                }

                                if(qtevalue == '2'){
                                    $(`#qteselect${id} option[value="2"]`).prop('selected', true);
                                    ajaxadd(qtevalue);
                                }
                                if(qtevalue == '3'){
                                    $(`#qteselect${id} option[value="3"]`).prop('selected', true);
                                    ajaxadd(qtevalue);
                                }
                                if(qtevalue == '4'){
                                    $(`#qteselect${id} option[value="4"]`).prop('selected', true);
                                    ajaxadd(qtevalue);
                                } 
                                if(qtevalue == '5'){
                                    $(`#qteselect${id} option[value="5"]`).prop('selected', true);
                                    ajaxadd(qtevalue);
                                }
                                if(qtevalue == '6'){
                                    $(`#qteselect${id} option[value="6"]`).prop('selected', true);
                                    ajaxadd(qtevalue);
                                } 
                                if(qtevalue == '7'){
                                    $(`#qteselect${id} option[value="7"]`).prop('selected', true);
                                    ajaxadd(qtevalue);
                                } 
                                if(qtevalue == '8'){
                                    $(`#qteselect${id} option[value="8"]`).prop('selected', true);
                                    ajaxadd(qtevalue);
                                } 
                                if(qtevalue == '9'){
                                    $(`#qteselect${id} option[value="9"]`).prop('selected', true);
                                    ajaxadd(qtevalue);
                                } 
                        }

                    else {

                         console.log("ajout panier ajoute depuis le panier session"+libelle);
                         
                         $('.panierbody').before(`<div class="row rows-col-4 panierrow${id}" id='panierrow${id}'></div>`);

                         $('.panierrow'+id).append(`<div class="col my-auto imgpaniercol${id}"></div>`);
                         $('.imgpaniercol'+id).append(`<img class="panierimg" src="src/img/plat/${image}" alt="${image}" height="32px" width="32px">`);
                         
                         $('.panierrow'+id).append(`<div class="col my-auto col my-auto panierlibelle${id}"></div>`);
                         $('.panierlibelle'+id).append(`${libelle}`);

                         $('.panierrow'+id).append(`<div class="col my-auto col my-auto panierprix${id}"></div>`);
                         $('.panierprix'+id).append(`${prix}`);

                         $('.panierrow'+id).append(`<div class="col my-auto col my-auto panierqte${id}"></div>`);
                         $('.panierqte'+id).append(`<select name="qteselect" id="qteselect${id}"><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option></select>`);

                         $('.panierrow'+id).append(`<div class="col my-auto col my-auto panierpaniersup${id}"></div>`);
                        $('.panierpaniersup'+id).append(`<button onclick="dlton(${id})" type="submit" class="btn deletepanierbtn" id='deletepanierbtn' data-id="${id}"><i class="fa-solid fa-trash"></i></button>`);
                    }

}
                     </script>
        {% endif %}
<pre>
  {{ dump(app.session.get('panier')) }}
</pre>
{# <button class="btn deletepanierbtn" id="deletepanierbtn" data-id="${id}"><i class="fa-solid fa-trash"></i></button> #}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Close</button>
        <a href=""><button type="submit" class="btn btn-outline-primary">Paye</button></a>
      </div>
    </div>
  </div>
</div>

 {% endblock %}

                    