
{% block body %}

{# Btn Panier #}

        <div class="position-fixed btnlogin btnshop">
            <button type="button" class="btn btn btn-outline-warning btnicon" id="logincharge" data-bs-toggle="modal" data-bs-target="#basket-shopping">
            <i class="fa-sharp fa-solid fa-basket-shopping"></i>
            <p class="btnlogintext" id="btnlogintext">Panier</p>
            </button>
        </div>


{# Modal Panier #}

<div class="modal fade" id="basket-shopping" tabindex="-1" aria-labelledby="basket-shoppingLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content shopmodal">
      <div class="modal-header mx-auto">
        <h5 class="modal-title" id="basket-shoppingLabel"><i class="fa-sharp fa-solid fa-basket-shopping"></i>Panier</h5>
      </div>
      <div class="modal-body">
        <div class="panierbody">
        </div>
        <form method="post">

        {% for panier in panier %}
        
                     <script src="{{asset('src/js/panier.js')}}">writepanier();</script>
        {% endif %}
<pre>
  {{ dump(app.session.get('panier')) }}
</pre>
{# <button class="btn deletepanierbtn" id="deletepanierbtn" data-id="${id}"><i class="fa-solid fa-trash"></i></button> #}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-outline-primary">Valide Panier</button></a>
        </form>
      </div>
    </div>
  </div>
</div>

 {% endblock %}

                    